$igBlack: #0D263C;
$igGreen: #0ed59a;
$igGrey: #f3f4f5;
$igBlue: #0d263c;
$igDarkerBlue: #0d0c11;
$igBackgroundBlue: #0c273a;
$textShadow: #818c91;
$errorRed: #d42f1a;
$borderGrey: #c1cbd0;
$buttonText: #0c273c;
$charcoal: #282828;
$highlightBackground: #fbf7eb;
$primaryBackground: #7ec4b9;
$alternateBackground: #f1f7f7;
$announcementBlue: #0e75d5